@model IEnumerable<Bangazon.Models.GroupedProducts>

@{
    ViewData["Title"] = "Type";
}


<h1>Product Categories</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h2><a href=@($"http://localhost:5000/Products/GetProductsByCategory/{item.TypeId}")>@Html.DisplayFor(modelItem => item.TypeName)</a></h2>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCount)
                </td>
            </tr>

            

            @foreach (var product in item.Products)
            {
                <tr>
                    <td>
                        <a href=@($"http://localhost:5000/Products/Details/{product.ProductId}")>@Html.DisplayFor(modelItem => product.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => product.Price)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
