@model Bangazon.Models.Order

@{
    ViewData["Title"] = "AddOrder";
}

<h1>AddOrder</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentTypeId)
        </dd>
    </dl>
</div>
<tbody>
    @foreach (var item in Model.OrderProducts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
        </tr>
    }
</tbody>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    <a asp-action="Index">Back to List</a>
</div>